@tailwind base;
@tailwind components;
@tailwind utilities;

.flipRow {
  animation: flip 0.5s ease forwards;
}
.flipRow:nth-child(2) {
  animation-delay: 0.3s;
}
.flipRow:nth-child(3) {
  animation-delay: 0.6s;
}
.flipRow:nth-child(4) {
  animation-delay: 0.9s;
}
.flipRow:nth-child(5) {
  animation-delay: 1.2s;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background: white;
    border: 2px solid #6b7280;
    color: black;
  }
  45% {
    transform: rotateX(90deg);
    background: white;
    border: 2px solid #6b7280;
    color: black;
  }
  55% {
    transform: rotateX(90deg);
    background: #6AAA64;
    border: 2px solid #6AAA64;
    color: white;
  }
  100% {
    transform: rotateX(0);
    background: #6AAA64;
    border: 2px solid #6AAA64;
    color: white;
  }
}
